apiVersion: v1
kind: Service
metadata:
  name: student-app-svc
  labels:
    app: student-app
spec:
  selector:
    app: student-app
  ports:
    - port: 80
      targetPort: 5000
      protocol: TCP
      name: http
