apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: course-metrics-exporter
        metrics_path: /metrics
        static_configs:
          - targets:
              - course-metrics-exporter:9100
